
html {
  background-image: url("../../public/images/background.png");
  animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground{
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px -1000px;
  }
}

body {
  min-height:100vh;
  max-width: 100vw;
  overflow-x: hidden;
  /* background: rgb(0, 12, 48); */
  

}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
